<!-- HERO SECTION -->
<section class="hero-section">
    <div id="slider-revolution">
        <ul>
            <li data-slotamount="7" data-masterspeed="500" data-title="Slide title 1">
                <img src="~/images/bg/1.jpg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">

                <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-1" data-x="500" data-y="230" data-speed="700" data-start="1500" data-easing="easeOutBack">
                    Last minute deal
                </div>

                <div class="tp-caption sfb fadeout slider-caption slider-caption-1" data-x="center" data-y="280" data-speed="700" data-easing="easeOutBack" data-start="2000">Top discount Paris Hotels</div>

                <a href="#" class="tp-caption sfb fadeout awe-btn awe-btn-style3 awe-btn-slider" data-x="center" data-y="380" data-easing="easeOutBack" data-speed="700" data-start="2200">Book now</a>
            </li>

            <li data-slotamount="7" data-masterspeed="500" data-title="Slide title 2">
                <img src="~/images/bg/2.jpg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">

                <div class="tp-caption  sft fadeout slider-caption-sub slider-caption-sub-2" data-x="center" data-y="220" data-speed="700" data-start="1500" data-easing="easeOutBack">
                    Check out the top weekly destination
                </div>

                <div class="tp-caption sft fadeout slider-caption slider-caption-2" data-x="center" data-y="260" data-speed="700" data-easing="easeOutBack" data-start="2000">
                    Travel with us
                </div>

                <a href="#" class="tp-caption sft fadeout awe-btn awe-btn-style3 awe-btn-slider" data-x="center" data-y="370" data-easing="easeOutBack" data-speed="700" data-start="2200">Book now</a>
            </li>

            <li data-slotamount="7" data-masterspeed="500" data-title="Slide title 3">
                <img src="~/images/bg/3.jpg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">

                <div class="tp-caption lfl fadeout slider-caption slider-caption-3" data-x="center" data-y="260" data-speed="700" data-easing="easeOutBack" data-start="1500">
                    Gofar
                </div>

                <div href="#" class="tp-caption lfr fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="365" data-easing="easeOutBack" data-speed="700" data-start="2000">Take you to every corner of the world</div>
            </li>

        </ul>
    </div>
</section>
<!-- END / HERO SECTION -->
<!-- SEARCH TABS -->
<section>
    <div class="container">
        <div class="awe-search-tabs tabs">
            <ul>

                <li>
                    <a href="#awe-search-tabs-2">
                        <i class="awe-icon awe-icon-briefcase"></i>
                    </a>
                </li>
                <li>
            </ul>
            <div class="awe-search-tabs__content tabs__content">

                <div id="awe-search-tabs-2" class="search-hotel">
                    <h2>Where would you like to go?</h2>
                    <form>
                        <div class="form-group">
                            <div class="form-elements">
                                <label>Destinations</label>
                                <div class="form-item">
                                    <i class="awe-icon awe-icon-marker-1"></i>
                                    <input type="text" value="Country, city, airport...">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-elements">
                                <label>Check in</label>
                                <div class="form-item">
                                    <i class="awe-icon awe-icon-calendar"></i>
                                    <input type="text" class="awe-calendar" value="Date">
                                    <br>
                                    <input name="Checkbox1" style="width: 13px" type="checkbox">
                                    No specific dates.
                                </div>
                            </div>
                            <div class="form-elements">
                                <label>Check out</label>
                                <div class="form-item">
                                    <i class="awe-icon awe-icon-calendar"></i>
                                    <input type="text" class="awe-calendar" value="Date">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-elements">
                                Traveler
                                <div class="form-item">
                                    <select class="awe-select">
                                        <option>Number</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>+5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" value="Find Package">
                        </div>

                    </form>
                </div>




</section>
<!-- END / SEARCH TABS -->
<!-- MASONRY -->
<section class="masonry-section-demo">
    <div class="container">
        <div class="destination-grid-content">
            <div class="section-title">
                <h3>More than <a href="trip.html">20,000 Packages</a> in 1,500 Destinations..</h3>
            </div>
            <div class="row">
                <div class="awe-masonry">
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/img/1.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Florenze</a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="http://www.agoda.com/city/bangkok-th.html?cid=1745687" rel='nofollow'>">Italy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">845</span>
                            available Package
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/img/2.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Toluca</a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">USA</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">132</span>
                            available Package
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/img/3.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Venice</a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">Italy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">2341</span>
                            available Package
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/img/4.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Ohio</a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">USA</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">2531</span>
                            available Package
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/img/5.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Venice</a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">Italy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">2531</span>
                            available Package
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/img/6.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Mandives</a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">Mandives</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">2531</span>
                            available Package
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/img/7.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Istanbul</a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">Turkey</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">2531</span>
                            available Package
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/img/8.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Bali</a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">Thailand</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">2531</span>
                            available Package
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/img/9.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Phu Quoc</a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">Vietnam</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">2531</span>
                            available Package
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                </div>
            </div>
            <div class="more-destination">
                <a href="trip.html">More Destinations</a>
            </div>
        </div>
    </div>
</section>
<!-- END / MASONRY -->


<section class="sale-flights-section-demo">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="sale-flights-tabs tabs">
                    <ul>
                        <li><a href="#sale-flights-tabs-1">Hot Package</a></li>
                        <li><a href="#sale-flights-tabs-2">Recent Package</a></li>
                    </ul>
                    <div class="sale-flights-tabs__content tabs__content">
                        <div id="sale-flights-tabs-1">

                            <!-- ITEM -->
                            <div class="trip-item">
                                <div class="item-media">
                                    <div class="image-cover">
                                        <img src="~/images/trip/2.jpg" alt="">
                                    </div>
                                    <div class="trip-icon">
                                        <img src="~/images/trip.jpg" alt="">
                                    </div>
                                </div>
                                <div class="item-body">
                                    <div class="item-title">
                                        <h2>
                                            <a href="#">Awesome Thailand</a>
                                        </h2>
                                    </div>
                                    <div class="item-list">
                                        <ul>
                                            <li>3 Cities</li>
                                            <li>15 days, 14 night</li>
                                        </ul>
                                    </div>
                                    <div class="item-footer">
                                        <div class="item-rate">
                                            <span>9.8 Wonderful</span>
                                        </div>
                                        <div class="item-icon">
                                            <i class="awe-icon awe-icon-gym"></i>
                                            <i class="awe-icon awe-icon-car"></i>
                                            <i class="awe-icon awe-icon-food"></i>
                                            <i class="awe-icon awe-icon-level"></i>
                                            <i class="awe-icon awe-icon-wifi"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-price-more">
                                    <div class="price">
                                        Start From
                                        <ins>
                                            <span class="amount">$1500</span>
                                        </ins>
                                        <del>
                                            <span class="amount">$2300</span>
                                        </del>

                                    </div>
                                    <a href="#" class="awe-btn">Book now</a>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="trip-item">
                                <div class="item-media">
                                    <div class="image-cover">
                                        <img src="~/images/trip/3.jpg" alt="">
                                    </div>
                                    <div class="trip-icon">
                                        <img src="~/images/trip.jpg" alt="">
                                    </div>
                                </div>
                                <div class="item-body">
                                    <div class="item-title">
                                        <h2>
                                            <a href="#">Days of Fun paris</a>
                                        </h2>
                                    </div>
                                    <div class="item-list">
                                        <ul>
                                            <li>2 Cities</li>
                                            <li>7 days, 6 night</li>
                                        </ul>
                                    </div>
                                    <div class="item-footer">
                                        <div class="item-rate">
                                            <span>9.7 Wonderful</span>
                                        </div>
                                        <div class="item-icon">
                                            <i class="awe-icon awe-icon-car"></i>
                                            <i class="awe-icon awe-icon-food"></i>
                                            <i class="awe-icon awe-icon-level"></i>
                                            <i class="awe-icon awe-icon-wifi"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-price-more">
                                    <div class="price">
                                        Start From
                                        <ins>
                                            <span class="amount">$1499</span>
                                        </ins>
                                        <del>
                                            <span class="amount">$2399</span>
                                        </del>

                                    </div>
                                    <a href="#" class="awe-btn">Book now</a>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="trip-item">
                                <div class="item-media">
                                    <div class="image-cover">
                                        <img src="~/images/trip/4.jpg" alt="">
                                    </div>
                                    <div class="trip-icon">
                                        <img src="~/images/trip.jpg" alt="">
                                    </div>
                                </div>
                                <div class="item-body">
                                    <div class="item-title">
                                        <h2>
                                            <a href="#">Best Honeymoon</a>
                                        </h2>
                                    </div>
                                    <div class="item-list">
                                        <ul>
                                            <li>4 Cities</li>
                                            <li>16 days, 15 night</li>
                                        </ul>
                                    </div>
                                    <div class="item-footer">
                                        <div class="item-rate">
                                            <span>9.7 Wonderful</span>
                                        </div>
                                        <div class="item-icon">
                                            <i class="awe-icon awe-icon-gym"></i>
                                            <i class="awe-icon awe-icon-car"></i>
                                            <i class="awe-icon awe-icon-food"></i>
                                            <i class="awe-icon awe-icon-level"></i>
                                            <i class="awe-icon awe-icon-wifi"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-price-more">
                                    <div class="price">
                                        Start From
                                        <ins>
                                            <span class="amount">$1220</span>
                                        </ins>
                                        <del>
                                            <span class="amount">$1780</span>
                                        </del>

                                    </div>
                                    <a href="#" class="awe-btn">Book now</a>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="trip-item">
                                <div class="item-media">
                                    <div class="image-cover">
                                        <img src="~/images/trip/5.jpg" alt="">
                                    </div>
                                    <div class="trip-icon">
                                        <img src="~/images/trip.jpg" alt="">
                                    </div>
                                </div>
                                <div class="item-body">
                                    <div class="item-title">
                                        <h2>
                                            <a href="#">My Space</a>
                                        </h2>
                                    </div>
                                    <div class="item-list">
                                        <ul>
                                            <li>Bahamas</li>
                                            <li>6 days, 5 night</li>
                                        </ul>
                                    </div>
                                    <div class="item-footer">
                                        <div class="item-rate">
                                            <span>9.5 Wonderful</span>
                                        </div>
                                        <div class="item-icon">
                                            <i class="awe-icon awe-icon-gym"></i>
                                            <i class="awe-icon awe-icon-car"></i>
                                            <i class="awe-icon awe-icon-food"></i>
                                            <i class="awe-icon awe-icon-level"></i>
                                            <i class="awe-icon awe-icon-wifi"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-price-more">
                                    <div class="price">
                                        Start From
                                        <ins>
                                            <span class="amount">$2200</span>
                                        </ins>
                                        <del>
                                            <span class="amount">$3199</span>
                                        </del>

                                    </div>
                                    <a href="#" class="awe-btn">Book now</a>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="trip-item">
                                <div class="item-media">
                                    <div class="image-cover">
                                        <img src="~/images/trip/1.jpg" alt="">
                                    </div>
                                    <div class="trip-icon">
                                        <img src="~/images/trip.jpg" alt="">
                                    </div>
                                </div>
                                <div class="item-body">
                                    <div class="item-title">
                                        <h2>
                                            <a href="#">Best of Europe</a>
                                        </h2>
                                    </div>
                                    <div class="item-list">
                                        <ul>
                                            <li>25 Cities</li>
                                            <li>45 days, 44 night</li>
                                        </ul>
                                    </div>
                                    <div class="item-footer">
                                        <div class="item-rate">
                                            <span>9.4 Wonderful</span>
                                        </div>
                                        <div class="item-icon">
                                            <i class="awe-icon awe-icon-gym"></i>
                                            <i class="awe-icon awe-icon-car"></i>
                                            <i class="awe-icon awe-icon-food"></i>
                                            <i class="awe-icon awe-icon-level"></i>
                                            <i class="awe-icon awe-icon-wifi"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-price-more">
                                    <div class="price">
                                        Start from
                                        <ins>
                                            <span class="amount">$1350</span>
                                        </ins>
                                        <del>
                                            <span class="amount">$1750</span>
                                        </del>

                                    </div>
                                    <a href="#" class="awe-btn">Book now</a>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                        </div>
                        <div id="sale-flights-tabs-2">
                            <!-- ITEM -->
                            <div class="trip-item">
                                <div class="item-media">
                                    <div class="image-cover">
                                        <img src="~/images/trip/2.jpg" alt="">
                                    </div>
                                    <div class="trip-icon">
                                        <img src="~/images/trip.jpg" alt="">
                                    </div>
                                </div>
                                <div class="item-body">
                                    <div class="item-title">
                                        <h2>
                                            <a href="#">Awesome Thailand</a>
                                        </h2>
                                    </div>
                                    <div class="item-list">
                                        <ul>
                                            <li>3 Cities</li>
                                            <li>15 days, 14 night</li>
                                        </ul>
                                    </div>
                                    <div class="item-footer">
                                        <div class="item-rate">
                                            <span>9.8 Wonderful</span>
                                        </div>
                                        <div class="item-icon">
                                            <i class="awe-icon awe-icon-gym"></i>
                                            <i class="awe-icon awe-icon-car"></i>
                                            <i class="awe-icon awe-icon-food"></i>
                                            <i class="awe-icon awe-icon-level"></i>
                                            <i class="awe-icon awe-icon-wifi"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-price-more">
                                    <div class="price">
                                        Start From
                                        <ins>
                                            <span class="amount">$1500</span>
                                        </ins>
                                        <del>
                                            <span class="amount">$2300</span>
                                        </del>

                                    </div>
                                    <a href="#" class="awe-btn">Book now</a>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="trip-item">
                                <div class="item-media">
                                    <div class="image-cover">
                                        <img src="~/images/trip/3.jpg" alt="">
                                    </div>
                                    <div class="trip-icon">
                                        <img src="~/images/trip.jpg" alt="">
                                    </div>
                                </div>
                                <div class="item-body">
                                    <div class="item-title">
                                        <h2>
                                            <a href="#">Days of Fun paris</a>
                                        </h2>
                                    </div>
                                    <div class="item-list">
                                        <ul>
                                            <li>2 Cities</li>
                                            <li>7 days, 6 night</li>
                                        </ul>
                                    </div>
                                    <div class="item-footer">
                                        <div class="item-rate">
                                            <span>9.7 Wonderful</span>
                                        </div>
                                        <div class="item-icon">
                                            <i class="awe-icon awe-icon-car"></i>
                                            <i class="awe-icon awe-icon-food"></i>
                                            <i class="awe-icon awe-icon-level"></i>
                                            <i class="awe-icon awe-icon-wifi"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-price-more">
                                    <div class="price">
                                        Start From
                                        <ins>
                                            <span class="amount">$1499</span>
                                        </ins>
                                        <del>
                                            <span class="amount">$2399</span>
                                        </del>

                                    </div>
                                    <a href="#" class="awe-btn">Book now</a>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="trip-item">
                                <div class="item-media">
                                    <div class="image-cover">
                                        <img src="~/images/trip/4.jpg" alt="">
                                    </div>
                                    <div class="trip-icon">
                                        <img src="~/images/trip.jpg" alt="">
                                    </div>
                                </div>
                                <div class="item-body">
                                    <div class="item-title">
                                        <h2>
                                            <a href="#">Best Honeymoon</a>
                                        </h2>
                                    </div>
                                    <div class="item-list">
                                        <ul>
                                            <li>4 Cities</li>
                                            <li>16 days, 15 night</li>
                                        </ul>
                                    </div>
                                    <div class="item-footer">
                                        <div class="item-rate">
                                            <span>9.7 Wonderful</span>
                                        </div>
                                        <div class="item-icon">
                                            <i class="awe-icon awe-icon-gym"></i>
                                            <i class="awe-icon awe-icon-car"></i>
                                            <i class="awe-icon awe-icon-food"></i>
                                            <i class="awe-icon awe-icon-level"></i>
                                            <i class="awe-icon awe-icon-wifi"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-price-more">
                                    <div class="price">
                                        Start From
                                        <ins>
                                            <span class="amount">$1220</span>
                                        </ins>
                                        <del>
                                            <span class="amount">$1780</span>
                                        </del>

                                    </div>
                                    <a href="#" class="awe-btn">Book now</a>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="trip-item">
                                <div class="item-media">
                                    <div class="image-cover">
                                        <img src="~/images/trip/5.jpg" alt="">
                                    </div>
                                    <div class="trip-icon">
                                        <img src="~/images/trip.jpg" alt="">
                                    </div>
                                </div>
                                <div class="item-body">
                                    <div class="item-title">
                                        <h2>
                                            <a href="#">My Space</a>
                                        </h2>
                                    </div>
                                    <div class="item-list">
                                        <ul>
                                            <li>Bahamas</li>
                                            <li>6 days, 5 night</li>
                                        </ul>
                                    </div>
                                    <div class="item-footer">
                                        <div class="item-rate">
                                            <span>9.5 Wonderful</span>
                                        </div>
                                        <div class="item-icon">
                                            <i class="awe-icon awe-icon-gym"></i>
                                            <i class="awe-icon awe-icon-car"></i>
                                            <i class="awe-icon awe-icon-food"></i>
                                            <i class="awe-icon awe-icon-level"></i>
                                            <i class="awe-icon awe-icon-wifi"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-price-more">
                                    <div class="price">
                                        Start From
                                        <ins>
                                            <span class="amount">$2200</span>
                                        </ins>
                                        <del>
                                            <span class="amount">$3199</span>
                                        </del>

                                    </div>
                                    <a href="#" class="awe-btn">Book now</a>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="trip-item">
                                <div class="item-media">
                                    <div class="image-cover">
                                        <img src="~/images/trip/1.jpg" alt="">
                                    </div>
                                    <div class="trip-icon">
                                        <img src="~/images/trip.jpg" alt="">
                                    </div>
                                </div>
                                <div class="item-body">
                                    <div class="item-title">
                                        <h2>
                                            <a href="#">Best of Europe</a>
                                        </h2>
                                    </div>
                                    <div class="item-list">
                                        <ul>
                                            <li>25 Cities</li>
                                            <li>45 days, 44 night</li>
                                        </ul>
                                    </div>
                                    <div class="item-footer">
                                        <div class="item-rate">
                                            <span>9.4 Wonderful</span>
                                        </div>
                                        <div class="item-icon">
                                            <i class="awe-icon awe-icon-gym"></i>
                                            <i class="awe-icon awe-icon-car"></i>
                                            <i class="awe-icon awe-icon-food"></i>
                                            <i class="awe-icon awe-icon-level"></i>
                                            <i class="awe-icon awe-icon-wifi"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-price-more">
                                    <div class="price">
                                        Start from
                                        <ins>
                                            <span class="amount">$1350</span>
                                        </ins>
                                        <del>
                                            <span class="amount">$1750</span>
                                        </del>

                                    </div>
                                    <a href="#" class="awe-btn">Book now</a>
                                </div>
                            </div>


                            <table class="sale-flights-tabs__table">





                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="awe-services">
                    <h2>Why your friends like our services?</h2>
                    <ul class="awe-services__list">
                        <li>
                            <a href="#">
                                <i class="awe-icon awe-icon-check"></i>
                                <i class="awe-icon awe-icon-arrow-right"></i>
                                20,000 real deals
                                <span>No booking fees . No fake</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="awe-icon awe-icon-check"></i>
                                <i class="awe-icon awe-icon-arrow-right"></i>
                                100% trusted reviews
                                <span>We verify them in person</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="awe-icon awe-icon-check"></i>
                                <i class="awe-icon awe-icon-arrow-right"></i>
                                24/7 global support
                                <span>anytime and any where</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="awe-icon awe-icon-check"></i>
                                <i class="awe-icon awe-icon-arrow-right"></i>
                                24/7 global support
                                <span>anytime and any where</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="awe-icon awe-icon-check"></i>
                                <i class="awe-icon awe-icon-arrow-right"></i>
                                Manage your bookings online
                                <span>anytime and any where</span>
                            </a>
                        </li>
                    </ul>
                    <div class="video-wrapper embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/50880604"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section CustomJs
{
    <!-- REVOLUTION DEMO -->
    <script type="text/javascript" src="~/revslider-demo/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/revslider-demo/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript">
        if ($('#slider-revolution').length) {
            $('#slider-revolution').show().revolution({
                ottedOverlay: "none",
                delay: 10000,
                startwidth: 1600,
                startheight: 650,
                hideThumbs: 200,

                thumbWidth: 100,
                thumbHeight: 50,
                thumbAmount: 5,


                simplifyAll: "off",

                navigationType: "none",
                navigationArrows: "solo",
                navigationStyle: "preview4",

                touchenabled: "on",
                onHoverStop: "on",
                nextSlideOnWindowFocus: "off",

                swipe_threshold: 0.7,
                swipe_min_touches: 1,
                drag_block_vertical: false,

                parallax: "mouse",
                parallaxBgFreeze: "on",
                parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],


                keyboardNavigation: "off",

                navigationHAlign: "center",
                navigationVAlign: "bottom",
                navigationHOffset: 0,
                navigationVOffset: 20,

                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,

                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,

                shadow: 0,
                fullWidth: "on",
                fullScreen: "off",

                spinner: "spinner2",

                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,

                shuffle: "off",

                autoHeight: "off",
                forceFullWidth: "off",



                hideThumbsOnMobile: "off",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "off",
                hideArrowsOnMobile: "off",
                hideThumbsUnderResolution: 0,

                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0
            });
        }
    </script>
}