<section class="checkout-section-demo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="checkout-page__top">
                    <div class="title">
                        <h1 class="text-uppercase">CHECKOUT</h1>
                    </div>
                    <span class="phone">Support Call: +1-888-8765-1234</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="checkout-page__sidebar">
                    <ul>
                        <li><a href="checkout-yourcart.html">Your Cart</a></li>
                        <li><a href="checkout-customer.html">Customer information</a></li>
                        <li class="current"><a href="checkout-complete.html">Complete order</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="checkout-page__content">
                    <div class="complete-content">
                        <div class="woocommerce-info">
                            Thank you for your purchase! We received your order.
                        </div>
                        <div class="your-order">
                            <h2>Your Order</h2>
                            <table class="order-table">
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Date</th>
                                        <th>Total</th>
                                        <th>Payment method</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td># 5365</td>
                                        <td>27 Feb 2015</td>
                                        <td>$ 467.909</td>
                                        <td>Direct bank transfer</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="billing-info">
                                <h3>Billing info</h3>
                                <table class="billing-table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h4 class="title">Customer name</h4>
                                                <p>All in One</p>
                                            </td>
                                            <td>
                                                <h4 class="title">Company name</h4>
                                                <p>All in One</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4 class="title">Email</h4>
                                                <p><a href="#">AllinOne@mail.com</a></p>
                                            </td>
                                            <td>
                                                <h4 class="title">Phone</h4>
                                                <p>085654523656</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4 class="title">Address</h4>
                                                <p>Boudin ham hock chicken,. Leberkas ham sausage doner pastrami porchetta tri-tip boudin shankle. Meatball shoulder rump spare ribs tongue venison short</p>
                                            </td>
                                            <td>
                                                <h4 class="title">Shipping Address</h4>
                                                <p>Boudin ham hock chicken,. Leberkas ham sausage doner pastrami porchetta tri-tip boudin shankle. Meatball shoulder rump spare ribs tongue venison short</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="cart-detail">
                                <h3>Cart detail</h3>
                                <table class="cart-detail-table">
                                    <tbody>
                                        <tr>
                                            <th>Product Category 1 eg.Hotel</th>
                                            <td>$ 67.909</td>
                                        </tr>
                                        <tr>
                                            <th>Product Category 1 eg.Hotel</th>
                                            <td>$ 67.909</td>
                                        </tr>
                                        <tr>
                                            <th>Product Category 1 eg.Hotel</th>
                                            <td>$ 67.909</td>
                                        </tr>
                                        <tr>
                                            <th>Product Category 1 eg.Hotel</th>
                                            <td>$ 67.909</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Cart Subtotal</th>
                                            <td>$ 467.909</td>
                                        </tr>
                                        <tr>
                                            <th>Coupon code</th>
                                            <td>- 30%</td>
                                        </tr>
                                        <tr>
                                            <th>Shipping and Handling</th>
                                            <td>$90</td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><span class="amount">$ 467.909</span></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="your-cart-footer text-right">
                                <a href="#" class="awe-btn awe-btn-style3">Back to Shop</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>